<html>
<head></head>

    <body>
        <div id = "login">
            <h1>Login</h1>
            
            <form method = "POST" action = "/login">
                <input type = "text" placeholder = "Username" name = "username" />
                <input type = "text" placeholder = "Password" name = "password" />
                <button>Login</button>
                <a href = "register"><button>Register</button></a>
            </form>
        </div>

        <div id = "message">
            {{message}}


    </body>

</html>


     

   